WindowsBehdadWebServices/Service References/AccountService/AccountServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.account.behdad.bis.misc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="com.misc.bis.behdad.service" name="AccountServiceImplService" targetNamespace="http://service.account.behdad.bis.misc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="com.misc.bis.behdad.service" location="http://85.133.186.11:8324/behdad/accountservice?wsdl=AccountService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="AccountServiceImplServiceSoapBinding" type="ns1:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setAccountControlType">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setAccountControlType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setAccountControlTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidIdentifierTypeException">
        <soap:fault use="literal" name="InvalidIdentifierTypeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidIdentifierControlTypeException">
        <soap:fault use="literal" name="InvalidIdentifierControlTypeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidDateException">
        <soap:fault use="literal" name="InvalidDateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingTransactions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPendingTransactions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPendingTransactionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PageSizeIsTooMuchException">
        <soap:fault use="literal" name="PageSizeIsTooMuchException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBankTransactionsDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getBankTransactionsDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBankTransactionsDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidDateException">
        <soap:fault use="literal" name="InvalidDateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PageSizeIsTooMuchException">
        <soap:fault use="literal" name="PageSizeIsTooMuchException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTransactionException">
        <soap:fault use="literal" name="InvalidTransactionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountControlType">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAccountControlType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccountControlTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidIdentifierTypeException">
        <soap:fault use="literal" name="InvalidIdentifierTypeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidDateException">
        <soap:fault use="literal" name="InvalidDateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="clearAccountControlType">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="clearAccountControlType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="clearAccountControlTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidIdentifierTypeException">
        <soap:fault use="literal" name="InvalidIdentifierTypeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidDateException">
        <soap:fault use="literal" name="InvalidDateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountNumbers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAccountNumbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccountNumbersResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnableToAuthenticateException">
        <soap:fault use="literal" name="UnableToAuthenticateException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialException">
        <soap:fault use="literal" name="InvalidCredentialException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceImplService">
    <wsdl:port name="AccountServiceImplPort" binding="tns:AccountServiceImplServiceSoapBinding">
      <soap:address location="http://85.133.186.11:8324/behdad/accountservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>