WindowsBehdadWebServices/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="com.misc.bis.behdad.service" name="AccountService" targetNamespace="com.misc.bis.behdad.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="com.misc.bis.behdad.service" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="com.misc.bis.behdad.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="clearAccountControlType" type="tns:clearAccountControlType" />
      <xs:element name="clearAccountControlTypeResponse" type="tns:clearAccountControlTypeResponse" />
      <xs:element name="getAccountControlType" type="tns:getAccountControlType" />
      <xs:element name="getAccountControlTypeResponse" type="tns:getAccountControlTypeResponse" />
      <xs:element name="getAccountNumbers" type="tns:getAccountNumbers" />
      <xs:element name="getAccountNumbersResponse" type="tns:getAccountNumbersResponse" />
      <xs:element name="getBankTransactionsDetails" type="tns:getBankTransactionsDetails" />
      <xs:element name="getBankTransactionsDetailsResponse" type="tns:getBankTransactionsDetailsResponse" />
      <xs:element name="getPendingTransactions" type="tns:getPendingTransactions" />
      <xs:element name="getPendingTransactionsResponse" type="tns:getPendingTransactionsResponse" />
      <xs:element name="setAccountControlType" type="tns:setAccountControlType" />
      <xs:element name="setAccountControlTypeResponse" type="tns:setAccountControlTypeResponse" />
      <xs:complexType name="setAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
          <xs:element minOccurs="0" name="arg1" type="tns:accountControlCreateModel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="credential">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountControlCreateModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="controlType" type="xs:string" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
          <xs:element minOccurs="0" name="toDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setAccountControlTypeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getPendingTransactions">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paging">
        <xs:sequence>
          <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="recordCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPendingTransactionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pagedData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="currentPageData" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="totalCount" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pendingTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="iban" type="xs:string" />
          <xs:element minOccurs="0" name="iin" type="xs:string" />
          <xs:element minOccurs="0" name="notificationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string" />
          <xs:element minOccurs="0" name="rrn" type="xs:string" />
          <xs:element minOccurs="0" name="shaparakLocalTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="shaparakServerTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="traceNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBankTransactionsDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
          <xs:element minOccurs="0" name="arg1" type="tns:accountTransactionFilter" />
          <xs:element minOccurs="0" name="arg2" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountTransactionFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="fromDateTime" type="xs:string" />
          <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string" />
          <xs:element minOccurs="0" name="toDateTime" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBankTransactionsDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bankTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="balance" type="xs:decimal" />
          <xs:element minOccurs="0" name="bankBranchCode" type="xs:string" />
          <xs:element minOccurs="0" name="bankBranchUserId" type="xs:string" />
          <xs:element minOccurs="0" name="destinationBankAccountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="sourceBankAccountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAdditionalInformation1" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAdditionalInformation2" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAdditionalInformation3" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAdditionalInformation4" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAdditionalInformation5" type="xs:string" />
          <xs:element minOccurs="0" name="transactionAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="transactionDate" type="xs:string" />
          <xs:element minOccurs="0" name="transactionDescription" type="xs:string" />
          <xs:element minOccurs="0" name="transactionGeneratedCode" type="xs:string" />
          <xs:element minOccurs="0" name="transactionKey" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMethod" type="xs:string" />
          <xs:element minOccurs="0" name="transactionTime" type="xs:string" />
          <xs:element minOccurs="0" name="transactionType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountControlTypeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="clearAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="clearAccountControlTypeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAccountNumbers">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:credential" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountNumbersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidCredentialException" type="tns:InvalidCredentialException" />
      <xs:complexType name="InvalidCredentialException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnableToAuthenticateException" type="tns:UnableToAuthenticateException" />
      <xs:complexType name="UnableToAuthenticateException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidIdentifierControlTypeException" type="tns:InvalidIdentifierControlTypeException" />
      <xs:complexType name="InvalidIdentifierControlTypeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidIdentifierTypeException" type="tns:InvalidIdentifierTypeException" />
      <xs:complexType name="InvalidIdentifierTypeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidDateException" type="tns:InvalidDateException" />
      <xs:complexType name="InvalidDateException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PageSizeIsTooMuchException" type="tns:PageSizeIsTooMuchException" />
      <xs:complexType name="PageSizeIsTooMuchException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidTransactionException" type="tns:InvalidTransactionException" />
      <xs:complexType name="InvalidTransactionException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidCredentialException">
    <wsdl:part name="InvalidCredentialException" element="ns1:InvalidCredentialException" />
  </wsdl:message>
  <wsdl:message name="setAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:setAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidTransactionException">
    <wsdl:part name="InvalidTransactionException" element="ns1:InvalidTransactionException" />
  </wsdl:message>
  <wsdl:message name="setAccountControlType">
    <wsdl:part name="parameters" element="ns1:setAccountControlType" />
  </wsdl:message>
  <wsdl:message name="getAccountNumbersResponse">
    <wsdl:part name="parameters" element="ns1:getAccountNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetails">
    <wsdl:part name="parameters" element="ns1:getBankTransactionsDetails" />
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierControlTypeException">
    <wsdl:part name="InvalidIdentifierControlTypeException" element="ns1:InvalidIdentifierControlTypeException" />
  </wsdl:message>
  <wsdl:message name="PageSizeIsTooMuchException">
    <wsdl:part name="PageSizeIsTooMuchException" element="ns1:PageSizeIsTooMuchException" />
  </wsdl:message>
  <wsdl:message name="clearAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:clearAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:getAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getPendingTransactionsResponse">
    <wsdl:part name="parameters" element="ns1:getPendingTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToAuthenticateException">
    <wsdl:part name="UnableToAuthenticateException" element="ns1:UnableToAuthenticateException" />
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetailsResponse">
    <wsdl:part name="parameters" element="ns1:getBankTransactionsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getPendingTransactions">
    <wsdl:part name="parameters" element="ns1:getPendingTransactions" />
  </wsdl:message>
  <wsdl:message name="getAccountControlType">
    <wsdl:part name="parameters" element="ns1:getAccountControlType" />
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierTypeException">
    <wsdl:part name="InvalidIdentifierTypeException" element="ns1:InvalidIdentifierTypeException" />
  </wsdl:message>
  <wsdl:message name="clearAccountControlType">
    <wsdl:part name="parameters" element="ns1:clearAccountControlType" />
  </wsdl:message>
  <wsdl:message name="InvalidDateException">
    <wsdl:part name="InvalidDateException" element="ns1:InvalidDateException" />
  </wsdl:message>
  <wsdl:message name="getAccountNumbers">
    <wsdl:part name="parameters" element="ns1:getAccountNumbers" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="setAccountControlType">
      <wsdl:input name="setAccountControlType" message="ns1:setAccountControlType" />
      <wsdl:output name="setAccountControlTypeResponse" message="ns1:setAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="InvalidIdentifierControlTypeException" message="ns1:InvalidIdentifierControlTypeException" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
    </wsdl:operation>
    <wsdl:operation name="getPendingTransactions">
      <wsdl:input name="getPendingTransactions" message="ns1:getPendingTransactions" />
      <wsdl:output name="getPendingTransactionsResponse" message="ns1:getPendingTransactionsResponse" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
    </wsdl:operation>
    <wsdl:operation name="getBankTransactionsDetails">
      <wsdl:input name="getBankTransactionsDetails" message="ns1:getBankTransactionsDetails" />
      <wsdl:output name="getBankTransactionsDetailsResponse" message="ns1:getBankTransactionsDetailsResponse" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="InvalidTransactionException" message="ns1:InvalidTransactionException" />
    </wsdl:operation>
    <wsdl:operation name="getAccountControlType">
      <wsdl:input name="getAccountControlType" message="ns1:getAccountControlType" />
      <wsdl:output name="getAccountControlTypeResponse" message="ns1:getAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
    </wsdl:operation>
    <wsdl:operation name="clearAccountControlType">
      <wsdl:input name="clearAccountControlType" message="ns1:clearAccountControlType" />
      <wsdl:output name="clearAccountControlTypeResponse" message="ns1:clearAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
    </wsdl:operation>
    <wsdl:operation name="getAccountNumbers">
      <wsdl:input name="getAccountNumbers" message="ns1:getAccountNumbers" />
      <wsdl:output name="getAccountNumbersResponse" message="ns1:getAccountNumbersResponse" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>